@use 'abstracts/modules/generator';
@use 'abstracts/modules/math';

:root {
	@include generator.all((
			'colors' : (
					'src' : (
							'primary' : ((27, 22%, 51%), (27, 22%, 40%)),
							'secondary' : ((217, 14%, 42%), (218, 21%, 18%), (234, 30%, 13%)),
							'neutral' : ((0, 0%, 100%), (0, 0%, 7%)
							)
					),
			),
			'font-types' : (
					'base' : 0.765rem,
					'ratio' : 1.1434,
					'length' : 4,
			),
			'fluid-font-types' : (
					'src' : (
							math.clamped(1rem, 1.25rem),
							math.clamped(2rem, 3rem),
							math.clamped(2rem, 5rem, $width-xs, $width-xl)
					),
			),
			'space-types' : (
					'base' : 0.8rem,
					'ratio' : 1.200,
					'length' : 9,
			),
			'fluid-space-types' : (
					'base' : ('min': 2.25rem, 'max': 3rem),
					'ratio' : ('min': 1.175, 'max': 1.200),
					'length' : 7,
			),
			'utilities' : (
					'src' : (
							generator.$font-weights,
							generator.$line-heights,
							generator.$letter-spacings,
							generator.$measures,
							generator.$text-aligns,
							generator.$aligns,
							generator.$justifys,
							generator.$item-aligns,
							generator.$item-justifys,
							generator.$self-aligns,
							generator.$self-justifys,
							generator.$directions,
							generator.$shadows,
					)
			))
	);

	--ff-primary    : 'League Spartan', sans-serif;
	--ff-body       : var(--ff-primary);
	--ff-heading    : var(--ff-primary);
	--outline-size  : max(1px, 0.15em);
	--outline-style : solid;
	--outline-color : currentColor;
	--body-space    : #{math.clamped(1.5rem, 10.3rem, $width-xs, $width-xl)};
	--body-size     : min(100% - var(--body-space) * 2, 69.375rem);
}

:where([class*='align'], [class*='direction'], [class*='justify']) {
	display : grid;
}

.text-uppercase {
	text-transform : uppercase;
}

.sr-only {
	position    : absolute;
	overflow    : hidden;
	margin      : -1px;
	padding     : 0;
	width       : 1px;
	height      : 1px;
	white-space : nowrap;
	clip        : rect(0, 0, 0, 0);
	border      : 0;
	color       : hsla(0, 0%, 60%, 0.56);
}

.title-border {
	&::before {
		content          : url('data:image/svg+xml, %3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'71\' height=\'7\'%3E%3Cg fill=\'none\' fill-rule=\'evenodd\'%3E%3Cpath fill=\'%239E7F66\' d=\'M15 3h56v1H15z\'/%3E%3Ccircle cx=\'3.5\' cy=\'3.5\' r=\'3\' stroke=\'%239E7F66\'/%3E%3C/g%3E%3C/svg%3E');
		display          : block;
		font-size        : 0;
		height           : 7px;
		margin-block-end : 10%;
	}
}

.line-pointer {
	--_pointer-length : var(--pointer-length, 8rem);
	position          : relative;

	&::before {
		content          : '';
		position         : absolute;
		inset            : calc(50% - 0.115em) auto auto 0;
		translate        : calc(-100% - 1.25em) -50%;
		inline-size      : var(--_pointer-length);
		height           : 1px;
		background-color : hsl(var(--clr-primary-1));
	}

	&[data-line-pointer-hidden='true']::before {
		display : none;
	}
}

.stack-border {
	& > * + *::before {
		--_space            : var(--space, #{$space});
		content             : '';
		display             : block;
		border-block-start  : 1px solid;
		opacity             : 0.1;
		padding-block-start : var(--_space);
	}
}

.pattern-lines {
	--_layer  : 1;
	--_top    : 0;
	--_right  : auto;
	--_bottom : auto;
	--_left   : 0;
	--_x      : -50%;
	--_y      : -50%;
	position  : relative;

	&[data-pattern-lines-layer='infront'] {
		--_layer : 9999;
	}

	&[data-pattern-lines-layer='behind'] {
		--_layer : -1;
	}

	&[data-pattern-lines-align='center'] {
		--_top : 50%;
	}

	&[data-pattern-lines-align='end'] {
		--_top    : auto;
		--_bottom : 0;
		--_y      : 50%;
	}

	&[data-pattern-lines-justify='end'] {
		--_right : 0;
		--_left  : auto;
		--_x     : 50%;
	}

	&::before {
		@media (width > $width-md) {
			content          : '';
			position         : absolute;
			inset            : var(--_top) var(--_right) var(--_bottom) var(--_left);
			z-index          : var(--_layer);
			translate        : var(--_x) var(--_y);
			inline-size      : 9rem;
			block-size       : 4.75rem;
			background-image : url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'160\' height=\'76\'%3E%3Cg fill=\'%239E7F66\' fill-rule=\'evenodd\'%3E%3Cpath d=\'M0 70h160v6H0zM0 56h160v6H0zM0 42h160v6H0zM0 28h160v6H0zM0 14h160v6H0zM0 0h160v6H0z\'/%3E%3C/g%3E%3C/svg%3E');
		}
	}
}

.pattern-curve {
	--_bg       : var(--bg-pattern-curve, 0, 0%, 95%);
	--_top      : 0;
	--_right    : auto;
	--_bottom   : auto;
	--_left     : 0;
	--_x        : 0%;
	--_y        : 0%;
	--_radius   : 6.25rem;
	--_radius-1 : 0;
	--_radius-2 : var(--_radius);
	--_radius-3 : 0;
	--_radius-4 : 0;
	--_lenght   : var(--length-pattern-curve, 100%);
	position    : relative;

	&::before {
		@media (width > $width-md) {
			content          : '';
			position         : absolute;
			inset            : var(--_top) var(--_right) var(--_bottom) var(--_left);
			border-radius    : var(--_radius-1) var(--_radius-2) var(--_radius-3) var(--_radius-4);
			z-index          : -1;
			translate        : var(--_x) var(--_y);
			block-size       : 18rem;
			inline-size      : var(--_lenght);
			background-color : hsl(var(--_bg));
		}
	}
}