@use 'abstracts/modules/generator';
@use 'abstracts/modules/math';

:root {
	@include generator.all((
			'colors' : (
					'src' : (
							'primary' : ((27, 22%, 51%), (27, 22%, 40%)),
							'secondary' : ((217, 14%, 42%), (218, 21%, 18%), (234, 30%, 13%)),
							'neutral' : ((0, 0%, 100%), (0, 0%, 7%)
							)
					),
			),
			'font-types' : (
					'base' : 0.765rem,
					'ratio' : 1.1434,
					'length' : 4,
			),
			'fluid-font-types' : (
					'src' : (
							math.clamped(1rem, 1.25rem),
							math.clamped(2rem, 3rem),
							math.clamped(2rem, 5rem, $width-xs, $width-xl)
					),
			), 'utilities' : (
					'src' : (
							generator.$font-weights,
							generator.$line-heights,
							generator.$letter-spacings,
							generator.$measures,
							generator.$text-aligns,
							generator.$aligns,
							generator.$justifys,
							generator.$item-aligns,
							generator.$item-justifys,
							generator.$self-aligns,
							generator.$self-justifys,
							generator.$directions,
					)
			))
	);

	--ff-primary    : 'League Spartan', sans-serif;
	--ff-body       : var(--ff-primary);
	--ff-heading    : var(--ff-primary);
	--outline-size  : max(1px, 0.15em);
	--outline-style : solid;
	--outline-color : currentColor;
	--body-space    : #{math.clamped(1.5rem, 10.3rem, $width-xs, $width-xl)};
	--body-size     : min(100% - var(--body-space) * 2, 69.375rem);
}

:where([class*="align"], [class*="direction"], [class*="justify"]) {
	display : grid;
}

.text-uppercase {
	text-transform : uppercase;
}

.sr-only {
	position    : absolute;
	overflow    : hidden;
	margin      : -1px;
	padding     : 0;
	width       : 1px;
	height      : 1px;
	white-space : nowrap;
	clip        : rect(0, 0, 0, 0);
	border      : 0;
}

// minus
// 70 / 96 / 72
// 0 / 230 / 137

// 0 / 38 / 36
// 24 / 24 / 24 - 1x - static
// 30 / 54 / 85
// 30 / 102 / 91
// 12 / 10 / 16
// 32 / 32 / 32 - 2x - static
// 38 / 38 / 91
// 40 / 52 / 52
// 45 / 45 / 20
// 48 / 48 / 32
// 55 / 39 / 36
// 78 / 64 / 80
// 60 / 60 / 27
// 62 / 62 / 32
// 99 / 72 / 84
// 116 / 120 / 86
// 125 / 57 / 49
// 120 / 96 / 102
// 121 / 118 / 101
// 160 / 120 / 80
