
.btn {
	--_fg                  : var(--fg, var(--clr-neutral-1, #FFFFFF));
	--_bg                  : var(--bg, var(--clr-neutral-2, #111111));
	--_border-color        : var(--_bg);
	--_transition-duration : 150ms;
	--_transition-timing   : ease-out;
	--outline-color        : var(--_bg);

	//min-width              : 230px;
	//min-block-size         : 3.33em;

	cursor                 : pointer;
	display                : inline-flex;
	align-items            : center;
	justify-content        : center;
	padding                : 1.1em 2.25em;
	font-size              : var(--fs-3);
	font-weight            : var(--fw-3);
	letter-spacing         : var(--letter-spacing-5);
	line-height            : 1;
	text-transform         : uppercase;
	color                  : hsl(var(--_fg));
	background-color       : hsl(var(--_bg));
	border                 : 0.15em solid hsl(var(--_border-color));
	transition             : background-color var(--_transition-duration) var(--_transition-timing), border var(--_transition-duration) var(--_transition-timing);

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			color            : hsl(var(--_bg));
			background-color : hsl(var(--_fg));
		}
	}

	span {
		border: 1px solid hsl(var(--_bg));
		height : 20px;
	}

	&[data-type='ghost'] {
		--_bg           : transparent;
		--_border-color : var(--_fg);
		--outline-color : var(--_fg);

		@media (hover : hover) {
			&:where(:hover, :focus-visible) {
				color : initial;
			}
		}
	}
}