
.card-meal {
	$_bp-column    : 26rem;
	container-type : inline-size;

	&__container {
		display     : flex;
		align-items : center;

		@media (width <= $width-lg) {
			@container (width <= #{$_bp-column}) {
				flex-direction : column;
			}
		}
	}

	&__content {
		@media (width <= $width-lg) {
			@container (width <= #{$_bp-column}) {
				display     : flex;
				align-items : center;
				text-align  : center;
			}
		}
	}

	:where(img, picture) {
		max-inline-size : 10rem;

		@media (width <= $width-lg) {
			@container (width <= #{$_bp-column}) {
				max-inline-size : 100%;
				width           : 100%;
			}
		}
	}

	&:has(.line-pointer) :where(img, picture) {
		z-index : 1;
	}

	.line-pointer::before {
		@media (width <= $width-lg) {
			@container (width <= #{$_bp-column}) {
				display : none;
			}
		}
	}
}