
.card-meal {
	container-type : inline-size;

	&__container {
		display     : flex;
		align-items : center;

		@media (width <= $width-lg) {
			@container (width <= 26em) {
				flex-direction : column;
			}
		}
	}

	&__content {
		@media (width <= $width-lg) {
			@container (width <= 26em) {
				display     : flex;
				align-items : center;
				text-align  : center;
			}
		}
	}

	:where(img, picture) {
		max-inline-size : 10rem;

		@media (width <= $width-lg) {
			@container (width <= 26em) {
				max-inline-size : 100%;
				width           : 100%;
			}
		}
	}
}