
.feature-events {
	&__item {
		animation           : fade-in 150ms ease-in-out;
		display             : grid;
		grid-auto-columns   : 1fr;
		grid-template-areas :
				'image'
				'tabs'
				'content';

		@media (width > $width-lg) {
			grid-template-areas :
				'image content'
				'image tabs';
		}

		@keyframes fade-in {
			0% {
				opacity : 0;
			}
			100% {
				opacity : 1;
			}
		}
	}

	&__content {
		grid-area : content;
	}

	&__tabs {
		grid-area : tabs;
	}

	p {
		@media (width > $width-lg) {
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	:where(img, picture) {
		grid-area   : image;
		inline-size : 100%;
	}
}