
.feature-events {

	&__item {
		display             : grid;
		grid-auto-columns   : 1fr;
		animation: fade-in 150ms ease-in-out;

		grid-template-areas :
				'image'
				'nav'
				'content';

		@media (width >= $width-lg) {
			grid-template-areas :
				'image content'
				'image nav';
		}

		@keyframes fade-in {
			0% {
				opacity : 0;
			}
			100% {
				opacity : 1;
			}
		}
	}

	&__content {
		grid-area : content;
	}

	&__nav {
		grid-area : nav;
	}

	:where(img, picture) {
		grid-area   : image;
		inline-size : 100%;
	}
}