
.hero {
	display: grid;
	min-block-size : 50rem;

	@media (width <= $width-md) {
		min-block-size : 100vh;
	}

	&__container {

	}

	&__content {

	}

	img {
		max-block-size : 70rem;

		@media (width <= $width-lg) {
			object-position : top;
		}
	}
}
